:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-text-color: #2e2f42;
  --text-color-hover: #4d5ae5;
  --accent-color: #404bbf;
  --background-color: #2e2f42;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--primary-font);
  color: #434455;
}

/*=================Components========================*/

.modal-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--text-color-hover);
}

.modal-btn:hover,
.modal-btn:focus {
  background: var(--accent-color);
  color: #ffffff;
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.project-text {
  font-size: 16px;
  line-height: 1.5x;
  letter-spacing: 0.02em;
  color: #434455;
}

/*=================Components========================*/

/*=================Header============================*/

.logo-link {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.67x;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color-hover);
}

.logo-color-header {
  color: var(primary-text-color);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contacts-header-link {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-header-link:hover,
.contacts-header-link:focus {
  color: var(--accent-color);
}

/*=================Header============================*/

/*=================Footer============================*/

.logo-color-footer {
  color: #f4f4fd;
}
.text {
  font-size: 16px;
  line-height: 1.5x;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-block {
  width: 1440px;
  left: 0px;
  top: 2280px;
  background: var(--background-color);
}

/*=================Footer========================*/
